body {
    background-color: aliceblue;
}

h1,
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(20, 14, 109);
}


table {
    border: 2px solid black;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: violet;
}

th {
    text-align: center;
    padding: 0 10px;
}

td {
    border-top: 1px solid gray;
    background-color: rgb(32, 102, 102);
    color: aliceblue;
}

.code {
    font-family: monospace;
    color: beige;
  }