* {
    box-sizing: border-box;
    font-family: 'Barlow' !important;
}

header {
    width: 100%;
}
    
nav {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkslategray;
}


nav .button {
    color: lightgreen;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid aliceblue;
    box-shadow: 3px 5px;
    display: inline-block;

}

nav .button:hover {
    background-color: blue;
}

body {
    background-color: aliceblue;
    margin: 0;
    margin-bottom: 100px;
    position: relative;
    overflow: scroll;

    
}

footer {
    height: 75px;
    background: darkslategray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

h1,
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(20, 14, 109);
    margin-top: 50px;
}


h1 {
    margin-top: 100px;
}

table {
    border: 2px solid black;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: violet;
}

th {
    text-align: center;
    padding: 0 10px;
}

td {
    border-top: 1px solid gray;
    background-color: rgb(32, 102, 102);
    color: aliceblue;
}

.code {
    font-family: monospace;
    color: beige;
  }